* {
    box-sizing: border-box;
    padding: 0;


}
main {
    background-color: lavender;
    border: 5px solid lightskyblue;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: black;
    text-shadow: 10px 5px darkgray;

}

p {
    
    color: black;
    font-weight: lighter;
    border: 1px solid darkgrey;
    border-radius: 15px;
    padding: 10px;
    text-align: center;

}