* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.miniFenster {
    background-image: url(./img/space.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

section {
    background-color: #F62B54;
    position: absolute;
    border-radius: 2em;
    width: 15em;
    height: 10em;
    top: 13em;
    right: 30em;
}

.error {
    text-align: center;
    text-decoration: underline;
    font-size: 1.5em;
    position: absolute;
    top: 1em;
    right: 3.5em;
}

.text {
    position: absolute;
    top: 4em;
    text-align: center;
}

.button {
    position: absolute;
    top: 1em;
    right: 1em;
}