* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

nav {
    display: none;
}

.burgerWrapper {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;

}

.burger {
    height: 5px;
    width: 30px;
    background-color: black;
    margin: 2px;
    border-radius: 10px;
}

.hero {
    background-color: rgba(0, 128, 0, 0.302);
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infos, .infos div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infos div {
    padding: 0 50px;
    margin-bottom: 20px;
    text-align: center;
}

@media only screen and (min-width:768px) {
    .hero {
        background-color: rgba(128, 0, 128, 0.256);
        height: 800px;
    }
    h1 {
        font-size: 2rem;
    }

}

@media only screen and (min-width:992px) {

    .burgerWrapper {
        display: none;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 30px;
    }

    nav a {
        text-decoration: none;
        padding: 10px 20px;
        color: black;
    }

    h1 {
        font-size: 3rem;
    }

    .hero {
        background-color: rgba(255, 166, 0, 0.473);
        flex-direction: row;
        align-items: center;
        gap: 20px;
        padding: 0 20px;
        height: 100vh;
    }

    .hero img {
        width: 40%;
    }

    .infos {
        flex-direction: row;
        height: 50vh;
    }

}
