* {
    box-sizing: border-box;

}

html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.switch {
    border: 2px solid pink;
    display: flex;
    width: 15vw;
    justify-content: center;
    align-items: center;
    gap: 40px;
}


.signup {
    border: 2px solid red;
    display: inline-block;
}

.login {
    border: 2px solid green;
    display: inline-block;
}