* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: ShadowsIntoLight-Regular;
    src: url(./fonts/ShadowsIntoLight-Regular.ttf);
}


img {
    height: 100vh;
    width: 100vw;
}



h1 {
    text-align: center;
    color: black;
    font-family: ShadowsIntoLight-Regular;
    font-size: 2rem;
    padding-left: 15%;
    padding-right: 15%;
    text-shadow: 1px 1px 2px pink;
}

h2 {
    font-size: 1.5em;
}


.titel {
font-family: ShadowsIntoLight-Regular;
margin-bottom: 75px;
}

main {
    position: absolute;
    margin: 5em;
    padding: 5%;
    bottom: 40%;
    left: 7%;
    text-align: center;
}

article {
    background-color: antiquewhite;
    opacity: 0.5;
    padding: 70px;
    border-radius: 5rem;
    padding: 2%;
    margin-left: 100px;
    margin-right: 100px;
}

p {
    font-size: 14px;
}