


$main-color: rgb(28, 181, 176);
$main-margin: 10vh 0 0 0;
$main-btnMargin: 2vh 0 0 0;



$padding-start: 0;
$margin-start: 0;

$bx-sizing: border-box;

$main-h3Size: 2rem;

$default-font-size: 1rem;
$max-width:50vw;
$text-align: center;
$default-margin:2vh 0;